{% extends "base.html" %}
{% block title %}Kategoriyalar{% endblock title %}
{% block main %}
<main>


    <div class="category-area">
        <div class="container">
            {% if category == False %}
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-50">
                        <h2>Kategoriyalar mavjud emas</h2>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-50">
                        <h2>Kategoriyalar</h2>
                        <p>Kategoriyalar bilan tanishing</p>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-xl-9 col-lg-9 col-md-8 ">


                    <div class="new-arrival new-arrival3">
                        <div class="row">
                            {% for i in category %}
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                <div class="single-new-arrival mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="/media/{{i.rasm}}" alt>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="/category/{{i.slug}}">{{i.name}}</a></h3>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

        </div>

</main>

{% endblock main %}